<body>
    <div class="container">
        <div class="login-box">
            <h1>Register</h1>
            <form (ngSubmit)="createAccount()">
                <div class="textbox">
                    <input type="email" id="email" [(ngModel)]="account.email" name="email" required placeholder="Email Address">
                </div>
                <div class="textbox">
                    <input type="text" id="firstName" [(ngModel)]="account.firstName" name="firstName" required placeholder="First Name">
                </div>
                <div class="textbox">
                    <input type="text" id="lastName" [(ngModel)]="account.lastName" name="lastName" required placeholder="Last Name">
                </div>
                <div class="textbox">
                    <input type="password" id="password" [(ngModel)]="account.password" name="password" required placeholder="Password">
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
            
            <div class="form-group">
                <p>Already have an account? <a href="/login-page">Login here</a>.</p>
            </div>
        </div>
    </div>
</body>