<div id="unity-container" class="unity-desktop">
    <canvas id="unity-canvas" width="1600" height="900" tabindex="-1"></canvas>
    <div id="unity-loading-bar">
      <div id="unity-logo"></div>
      <div id="unity-progress-bar-empty">
        <div id="unity-progress-bar-full"></div>
      </div>
    </div>
    <div id="unity-warning"></div>
    <div id="unity-footer">
      <div id="unity-webgl-logo"></div>
      <div id="unity-fullscreen-button"></div>
      <div id="unity-build-title">Unity WebGL Game</div>
    </div>
  </div>
  
  <div id="game-description">
    <h2>How to play</h2>
    <p>
    Use the arrow keys or WASD to move your character, and use your mouse to shoot.
    </p>
  </div>
  