
.game-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.game-box {
  background-color: #282828; 
  border-radius: 15px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
  overflow: hidden; 
  text-align: center; 
  transition: transform 0.3s; 
}

.game-box:hover {
  transform: scale(1.05); 
}

.game-image {
  width: 100%; 
  height: auto; 
}

.game-title {
  margin: 10px 0;
  font-size: 20px; 
  color: #1db954;
}
