<head>
  <title>Login and Register</title>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <a href="/" class="logo">Suc gama best</a>
      <ul class="nav-links">
        <li><a href="/login-page">Login</a></li>
        <li><a href="/register-page">Register</a></li>
      </ul>
    </div>
  </nav>
</body>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{ account.email }}</td>
        <td>{{ account.firstName }}</td>
        <td>{{ account.lastName }}</td>
      </tr>
    </tbody>
  </table>
</div>
