<div class="game-container">
  <a routerLink="/test-page" style="text-decoration: none; color: inherit;">
    <div class="game-box">
      <img src="assets/SkyShooter/titleimageforthegame.png" alt="Endless Runner" class="game-image">
      <div class="game-title">Sky Battle</div>
    </div>
  </a>
  <a routerLink="/halloween-page" style="text-decoration: none; color: inherit;">
    <div class="game-box">
      <img src="assets/HalloweenShooter/titleforHallow.png" alt="Halloween Shooter" class="game-image">
      <div class="game-title">Halloween Shooter</div>
    </div>
  </a>
  <a routerLink="/hoops-page" style="text-decoration: none; color: inherit;">
    <div class="game-box">
      <img src="assets/Hoops/logoForHoops.png" alt="Hoops" class="game-image">
      <div class="game-title">Hoops</div>
    </div>
  </a>
</div>
