
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191414;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff00;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-box h1 {
    color: #fff;
    margin-bottom: 20px;
}

.textbox {
    margin-bottom: 15px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
}

.textbox input:focus {
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1db954;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #1ed760;
}

.social-login {
    margin-top: 20px;
}

.social-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.social-btn.gmail {
    background-color: #ea4335;
}

.social-btn.gmail:hover {
    background-color: #d93025;
}

.social-btn.facebook {
    background-color: #1877f2;
}

.social-btn.facebook:hover {
    background-color: #1557a5;
}
