/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    overflow: hidden; 
}

body {
    background-color: #191414;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffff00;
    overflow: hidden;
}

.navbar {
    background-color: #000;
    padding: 15px 20px;
    border-bottom: 1px solid #282828;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 100; 
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%;
    height: 100%;
    flex-direction: column;  /* Align items vertically */
}

/* Account Box */
.profile-box {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

.profile-box h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-details p {
    color: #fff;
    font-size: 16px;
    margin: 5px 0;
}

/* Button styles */

.action-buttons {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap; 
}

.btn {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #1db954;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #1ed760;
}

@media (max-width: 600px) {
    .account-box, .accounts-box {
        padding: 20px;
        width: 90%; 
    }

    .account-box h1, .accounts-box h1 {
        font-size: 20px; 
    }

    .btn {
        padding: 10px; 
    }

    .profile-info {
        flex-direction: column;
        text-align: center;
    }

    .profile-photo {
        margin-bottom: 10px;
    }
}
