<div class="container">
  <div *ngIf="!accountDetails">
    <p>Loading account details...</p>
  </div>

  <div class="account-box" *ngIf="accountDetails">
    <h1>Account Information</h1>
    <div class="profile-info">
      <img src="https://http.cat/200" alt="Profile Photo" class="profile-photo" />
      <div class="user-details">
        <p><strong>Name:</strong> {{ accountDetails.firstName }} {{ accountDetails.lastName }}</p>
        <p><strong>Email:</strong> {{ accountDetails.email }}</p>
      </div>
    </div>
    <button class="btn" (click)="logout()">Logout</button>
  </div>

  <div class="content-row" *ngIf="accounts">
    <div class="accounts-box">
      <h1>Top Accounts</h1>
      <ul>
        <li *ngFor="let account of accounts">
          <button class="btn" [routerLink]="['/profile-page', account.email]">
            {{ account.firstName }} {{ account.lastName }}
          </button>
        </li>
      </ul>
    </div>

    <div class="friends-box">
      <h1>Friends</h1>
      <ul>
        <li *ngFor="let account of accountFriends">
          <button class="btn" [routerLink]="['/profile-page', account.email]">
            {{ account.firstName}} {{ account.lastName }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
